body {
	background-color: #373737;
	margin: 0;
}

p, h1, h2, h3, h4, h5, h6, ol, ul, li {
	color: #3c3c3d;
	font-family: Helvetica light, Century Gothic, sans-serif;
}

p, ul, ol, li {

	font-size: 95%;
	padding-right: 15px;
	text-align: left;
}

header section h1 {
	font-size: 36px;
}

ul.square {
	list-style-type: square;
}

strong {
	font-weight: bolder;
}

/*==section:nth-child(2) {
	border-bottom: 1px dotted #444;
}

section:nth-child(3) {
	border-bottom: 1px dotted #444;
} === */

/* ============ Grid =============*/

.container {
	
 	width: 75%;
	margin: auto;
	background-color: #ffffff;
	overflow: hidden;
	
}

.col {
	float: left;
	width: 22%;
	margin-right: 4%;
}

.col2 {
	float: left;
	width: 48%;
	margin-right: 4%;
}
.col3 {
	float: left;
	width: 74%;
	margin-right: 4%;
}

.col-right {
	margin-right: 0;

}


/* ================ */
/*#wrapper {
	color: #444;
	font-family: Helvetica light, Century Gothic, sans-serif;
	height: 100%;
	width: 900px;
	margin: auto;
	padding: 10px 10px 0px 25px;
	background-color: #f3f3f3;
}*/

#header {
	background-color: #e4e6e5;
	padding:10px 0px 20px 50px;
	text-align: center;
	font-family: Helvetica light, Century Gothic, sans-serif;
	height: 100%;

}

#footer {
	width: 100%;
	background-color:#d4d6d5; 
	padding:10px 0px 5px 50px; 
	border-top:1px solid #ccc;
	font-family: Helvetica light, Century Gothic, sans-serif;
	margin: auto;
}

.heading{
	font-size: 32px;
	color: #cccccc;
	text-align: right;
	
}

.section {
	border-bottom: 1px solid #cccccc;
}

.coreStrenghts {
	background-color: #e4e6e5;
}

.coreStrenghts h2 {

	color: #347e93;

}

a:link {
	text-decoration: none;
	color: #00baff
}

a:hover {
	color: #ff823a;
}

a:visited {
	color: #3c788f;
}